<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration SYSTEM 
"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>
        <property name="hibernate.dialect">
            org.hibernate.dialect.PostgreSQLDialect </property>
        <property name="hibernate.connection.driver_class">
            org.postgresql.Driver</property>
        <property name="hibernate.hbm2ddl.auto">update</property>
        <property name="hibernate.default_schema">faers</property>
        <property name="show_sql">false</property>
        <property name="hibernate.connection.provider_class">org.hibernate.c3p0.internal.C3P0ConnectionProvider</property>
        <property name="hibernate.c3p0.min_size">1</property>
        <property name="hibernate.c3p0.max_size">5</property>
        <property name="hibernate.c3p0.max_statements">200</property>
        <property name="hibernate.c3p0.acquireRetryAttempts">30</property>
        <property name="hibernate.c3p0.acquireRetryDelay">2000</property>
        <mapping class="com.faersmini.json.importer.Drug" />
        <mapping class="com.faersmini.json.importer.Event" />
        <mapping class="com.faersmini.json.importer.OpenFDA" />
        <mapping class="com.faersmini.json.importer.Patient" />
        <mapping class="com.faersmini.json.importer.Reaction" />
        <mapping class="com.faersmini.json.importer.Result" />
    </session-factory>
</hibernate-configuration>
